Package: com.dvntm.ytlite
Name: YTLite
Depends: mobilesubstrate
Version: 5.2.2
Architecture: iphoneos-arm64
Description: Lightweight YouTube Enhancer
Maintainer: dvntm
Author: dvntm
Section: Tweaks
Icon: https://raw.githubusercontent.com/dayanch96/icons/main/ytlite.png
SileoDepiction: https://raw.githubusercontent.com/dayanch96/icons/main/ytlite.json
